javascript:
coffee:
  $ ->
    console.log('asdas')
    $('.example-getting-started').multiselect();
    $('.datepicker').datepicker({
      format: "dd/mm/yyyy",
      todayBtn: "linked",
      clearBtn: true,
      language: "ru",
      keyboardNavigation: false,
      forceParse: false,
      autoclose: true,
      toggleActive: true,

    });


.container

  = form_for @settlement, html: {:multipart => true, class: "edit_post"} do |f|
    = errors_for(@settlement)
    .row
    br
    ul.nav.nav-tabs
      li.active
        a data-toggle="tab" id="axixa" class="navel" href="#home"  Метрика и документы
    .tab-content
      #home.tab-pane.fade.in.active
        .row
          br
          .col-md-6
            .form.form-horizontal
              .form-group
                = f.label :date, "Дата", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :date, data: {provide: 'datepicker'},value: (@settlement[:date].strftime("%d/%m/%Y") rescue nil), class: 'form-control datepicker'
              .form-group
                = f.label :hirer_id, "Компания", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:hirer_id, Hirer.all, :id, :display_name, {}, {class: "form-control"})
              .form-group
                = f.label :position_id, "Позиция", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:position_id, Position.all, :id, :display_name, {}, {class: "form-control"})
              .form-group
                = f.label :application_staff_id, "IDE", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:application_staff_id, ApplicationStaff.all, :id, :formatted_name, {}, {class: "form-control"})

              .form-group
                = f.label :shift, "Начало рабочей смены", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :shift, id: 'time_element', :data => {:mask=> '99:99'},value: (@settlement[:shift].strftime("%H:%M") rescue nil), class: 'form-control'
              .form-group
                = f.label :actual_arrival_time, "Актуальное время прибытия", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :actual_arrival_time,  id: 'actual_arrival_time',:data => {:mask=> '99:99'}, value: (@settlement[:actual_arrival_time].strftime("%H:%M") rescue nil), class: 'form-control'
              .form-group
                = f.label :lunch, "Обед", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :lunch,  id: 'lunch', :data => {:mask=> '99:99'},value: (@settlement[:lunch].strftime("%H:%M") rescue nil), class: 'form-control'
              .form-group
                = f.label :time_care, "Фактическое время ухода", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :time_care,  id: 'time_care', :data => {:mask=> '99:99'},value: (@settlement[:time_care].strftime("%H:%M") rescue nil), class: 'form-control'

              .form-group
                = f.label :actual_hours_worked, "Фактически отработанное время", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :actual_hours_worked,  id: 'time_element', :data => {:mask=> '99:99'},value: (@settlement[:actual_hours_worked].strftime("%H:%M") rescue nil), disabled: 'true',class: 'form-control'
          .col-md-6
            .form.form-horizontal
              .form-group
                = f.label :rate, "Ставка", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.number_field :rate, class: 'form-control'
              .form-group
                = f.label :amount, "Сумма к выплате", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.number_field :amount, disabled: 'true', class: 'form-control'
              .form-group
                = f.label :paid, "Выплачено", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.number_field :paid, class: 'form-control'
              .form-group
                = f.label :debt, "Задолженоость по ЗП", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.number_field :debt, disabled:'true', class: 'form-control'
              .form-group
                = f.label :payment_type, "Тип оплаты", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.select :payment_type, Settlement.payment_types.keys.map {|key| [t("payment_type.#{key}"), key]}
              .form-group
                = f.label :going_to_work, "Выход на работу", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.check_box :going_to_work
    br
    .actions = f.submit class: 'btn btn-primary move-right'