javascript:
coffee:
  $ ->
    $("#hirer_inn").mask("(999) 999-9999");
    $('.navel').click ->
      $("html, body").animate({scrollTop: $(document).height()}, "slow");
    $('.example-getting-started').multiselect();
    $('.datepicker').datepicker({
      todayBtn: "linked",
      clearBtn: true,
      language: "ru",
      keyboardNavigation: false,
      forceParse: false,
      autoclose: true,
      toggleActive: true,

    });
.container
  = form_for @hirer, html: {class: "edit_post"} do |f|
    - if @hirer.errors.any?
      #error_explanation
        h2 = "#{pluralize(@hirer.errors.count, "error")} prohibited this hirer from being saved:"
        ul
          - @hirer.errors.full_messages.each do |message|
            li = message

    .row
    br
      .col-md-10
        .form.form-horizontal
          .form-group
            = f.label :display_name, "Заказчик", class: 'control-label col-sm-2'
            .col-sm-10
              = f.text_field :display_name, class: 'form-control'
    br
    br
    ul.nav.nav-tabs
      li.active
        a data-toggle="tab" id="navel1" class="navel" href="#home"  Основная информация
      li
        a data-toggle="tab" id="navel2" class="navel" href="#menu1"  История ведения переговоров
    .tab-content
      #home.tab-pane.fade.in.active
        .row
          br
          .col-md-6
            .form.form-horizontal
              .form-group
                = f.label :inn, "ИНН", class: 'label label-primary control-label col-sm-2'
                .col-sm-10
                  = f.text_field(:inn, placeholder: '12 цифр',class: 'form-control',data:{mask:'999999999999'})
              .form-group
                = f.label :address, "Адрес", class: 'label label-primary control-label col-sm-2'
                .col-sm-10
                  = f.text_area :address, class: 'form-control'
              .form-group
                = f.label :comment, "Коментарий", class: 'label label-primary control-label col-sm-2'
                .col-sm-10
                  = f.text_area :comment, class: 'form-control'
              .form-group
                = f.label :sphere_id, "Сфера деятельности", class: 'label label-primary control-label col-sm-2'
                .col-sm-10
                  = f.collection_select(:sphere_id, Sphere.all, :id, :display_name, {}, {class: "form-control"})
          .col-md-6
            .form.form-horizontal
              .form-group
                = f.label :contact_person1, "Контактное лицо 1", class: 'label label-primary control-label col-sm-2'
                .col-sm-10
                  = f.text_field :contact_person1, class: 'form-control'
              .form-group
                = f.label :phone1, "Телефон 1", class: 'label label-primary control-label col-sm-2'
                .col-sm-10
                  = f.text_field :phone1, class: 'form-control'
              .form-group
                = f.label :contact_person2, "Контактное лицо 2", class: 'label label-primary control-label col-sm-2'
                .col-sm-10
                  = f.text_field :contact_person2, class: 'form-control'
              .form-group
                = f.label :phone2, "Телефон 2", class: 'label label-primary control-label col-sm-2'
                .col-sm-10
                  = f.text_field :phone2, class: 'form-control'
      #menu1.tab-pane.fade
        .row
          br
          .col-md-12
            .form.form-horizontal
              .form-group
                = f.label :history, "История", class: 'label label-primary control-label col-sm-2'
                .col-sm-10
                  = f.text_area :history, class: 'form-control'

    br
    .actions = f.submit class: 'btn btn-primary move-right'