h1 Список заказчиков
= link_to 'Добавить заказчика', new_hirer_path
table.table
  thead
    tr
      th Заказчик
      th Изменить
      th Удалить

  tbody
    - @hirers.each do |hirer|
      tr
        td = hirer.display_name
        td = link_to 'Изменить', edit_hirer_path(hirer)
        td = link_to 'Удалить', hirer, data: {confirm: 'Are you sure?'}, method: :delete

br