h1 Список вакансий
= link_to 'Добавить вакансию', new_position_path
table.table
  thead
    tr
      th
      th
      th

  tbody
    - @positions.each do |position|
      tr
        td =  position.display_name
        td = link_to 'Изменить', edit_position_path(position)
        td = link_to 'Удалить', position, data: { confirm: 'Are you sure?' }, method: :delete

br

