javascript:
coffee:
  $ ->
    $('.navel').click ->
      $("html, body").animate({scrollTop: $(document).height()}, "slow");
    $('.example-getting-started').multiselect();
    $('.datepicker').datepicker({
      format: "dd/mm/yyyy",
      todayBtn: "linked",
      clearBtn: true,
      language: "ru",
      keyboardNavigation: false,
      forceParse: false,
      autoclose: true,
      toggleActive: true,

    });


.container
  = form_for @application_staff, html: {:multipart => true, class: "edit_post"} do |f|
    = errors_for(@application_staff)
    .row
    br
      .col-md-2
        .fileinput.fileinput-new data-provides="fileinput"
          - if @application_staff.avatar?
            = image_tag(@application_staff.avatar_url, class: 'fileinput-preview thumbnail', style: "width: 150px; height: 150px;") if @application_staff.avatar?
          - else
            .fileinput-preview.thumbnail data-trigger="fileinput" style=("width: 150px; height: 150px;")
          div
            span.btn.btn-default.btn-file
              span.fileinput-new Выбрать
              span.fileinput-exists Изменить
              = f.file_field :avatar
              = f.hidden_field :avatar_cache

            a.btn.btn-default.fileinput-exists data-dismiss="fileinput" href="#"  Удалить
      br
      .col-md-10
        .form.form-horizontal
          .form-group
            = f.label :surname, "Фамилия", class: 'control-label col-sm-2'
            .col-sm-8
              = f.text_field :surname, class: 'form-control'
          .form-group
            = f.label :name, "Имя", class: 'control-label col-sm-2'
            .col-sm-8
              = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :patronymic, "Отчество", class: 'control-label col-sm-2'
            .col-sm-8
              = f.text_field :patronymic, class: 'form-control'
    br


    br
    ul.nav.nav-tabs
      li.active
        a data-toggle="tab" id="navel1" class="navel" href="#home"  Метрика и документы
      li
        a data-toggle="tab" id="navel2" class="navel" href="#menu1"  Квалификация и контактные данные
      li
        a data-toggle="tab" id="navel3" class="navel" href="#menu2"  Учет рабочего времени
    .tab-content
      #home.tab-pane.fade.in.active
        .row
          br
          .col-md-6
            .form.form-horizontal
              .form-group
                = f.label :birth_date, "Год рождения", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :birth_date, data: {provide: 'datepicker'}, class: 'form-control datepicker'
              .form-group
                = f.label :etnicity_id, "Внешность", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:etnicity_id, Etnicity.all, :id, :display_name, {}, {class: "form-control"})
              .form-group
                = f.label :age, "Возраст", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.number_field :age, class: 'form-control'
              .form-group
                = f.label :birth_place, "Место рождения", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :birth_place, class: 'form-control'
              .form-group
                = f.label :passport, "Паспорт", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :passport, class: 'form-control'
              .form-group
                = f.label :passport_issued_by, "Кем выдан паспорт", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :passport_issued_by, class: 'form-control'
              .form-group
                = f.label :date_issue, "Дата выдачи", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :date_issue, data: {provide: 'datepicker'}, class: 'form-control datepicker'
              .form-group
                = f.label :validate_period, "Срок действия", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :validate_period, data: {provide: 'datepicker'}, class: 'form-control datepicker'
              .form-group
                = f.label :nationality, "Гражданоство", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:nationality_id, Nationality.all, :id, :display_name, {}, {class: "form-control"})
          .col-md-6
            .form.form-horizontal
              .form-group
                = f.label :residence_document_id, "Документ пребывания", class: 'label label-md-6 control-label label-primary col-sm-4'
                .col-md-8
                  = f.collection_select(:residence_document_id, ResidenceDocument.all, :id, :display_name, {}, {class: "form-control"})
              .form-group
                = f.label :migration_card, "Миграционная карта", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.check_box :migration_card
              .form-group
                = f.label :tensure, "Срок действия документа пребывания", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :tensure, data: {provide: 'datepicker'}, class: 'form-control datepicker'
              .form-group
                = f.label :patent, "Патент", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.check_box :patent
              .form-group
                = f.label :registration, "Регистрация", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.check_box :registration
              .form-group
                = f.label :med_book, "Медкнижка", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.check_box :med_book
              .form-group
                = f.label :patent_region, "Регион выдачи патента", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:patent_region_id, Region.all, :id, :display_name, {}, {class: "form-control"})
              .form-group
                = f.label :desired_region, "Желаемый регион трудоустройства", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:desired_region_id, Region.all, :id, :display_name, {}, {class: "form-control"})
              .form-group
                = f.label :stop_sheet, "Стоп-лист", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.check_box :stop_sheet
              .form-group
                = f.label :stop_sheet_status, "Причина занесения в стоп-лист", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:stop_sheet_status_id, StopSheetStatus.all, :id, :display_name, {prompt: 'Причина занесения в стоп-лист'}, {class: "form-control"})
      #menu1.tab-pane.fade
        .row
          br
          .col-md-6
            .form.form-horizontal
              .form-group
                = f.label :emp_type, "Тип трудойстройства", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:emp_type_id, EmpType.all, :id, :display_name, {prompt: 'Выберите тип трудойстройства'}, {class: "form-control"})
              .form-group
                = f.label :qualification, "Квалификация", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_area :qualification, class: 'form-control'
              .form-group
                = f.label :patent_region, "Возможные позиции", class: 'label label-primary col-sm-4'
                .col-sm-8
                  = f.select :possible_position_ids, PossiblePosition.all.collect {|t| [t.display_name, t.id]}, {},
                          {class: 'form-control input-sm example-getting-started', multiple: :true}
              .form-group
                = f.label :status_treatment, "Статус обращения", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:status_treatment_id, StatusTreatment.all, :id, :display_name, {}, {class: "form-control"})
              .form-group
                = f.label :status_interview, "Статус собеседования", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:status_interview_id, StatusInterview.all, :id, :display_name, {prompt: 'Выберите статус собеседования'}, {class: "form-control"})
              .form-group
                = f.label :treatment_date, "Дата обращения", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :treatment_date, data: {provide: 'datepicker'}, class: 'form-control datepicker'
              .form-group
                = f.label :interview_date, "Дата прохождения собеседования", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :interview_date, data: {provide: 'datepicker'}, class: 'form-control datepicker'
          .col-md-6
            .form.form-horizontal
              .form-group
                = f.label :phone1, "Контактный телефон 1", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :phone1, class: 'form-control'
              .form-group
                = f.label :phone1, "Контактный телефон 2", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_field :phone1, class: 'form-control'
              .form-group
                = f.label :comment, "Коментарий", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_area :comment, class: 'form-control'
              .form-group
                = f.label :bank_card, "Банковская карта", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_area :bank_card, class: 'form-control'
              .form-group
                = f.label :email, "Электронная почта", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.text_area :email, class: 'form-control'
              .form-group
                = f.label :manager, "Менеджер", class: 'label label-primary control-label col-sm-4'
                .col-sm-8
                  = f.collection_select(:manager_id, Manager.all, :id, :display_name, {}, {class: "form-control"})

      #menu2.tab-pane.fade
        h3 Menu 2
        p Some content in menu 2.


    br
    .actions = f.submit class: 'btn btn-primary move-right'