h1 Listing application_staffs

table.table
  thead
    tr
      th
      th
      th
  tbody
    - @application_staffs.each do |application_staff|
      tr
        td.name= application_staff.surname
        td.name= application_staff.name
        td.name= application_staff.patronymic
        td = link_to 'Edit', edit_application_staff_path(application_staff)
        td = link_to 'Destroy', application_staff, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Application staff', new_application_staff_path
