div style=("display: inline-block;")
  br
  = link_to ' Добавить нового пользователя', new_application_staff_url, class: 'btn btn-primary'
p
#myGrid.ag-fresh.ag-basic style=("width: 1600px; height: 500px;")
css:
  | input {
  | width: 300 px;
  | height: 30 px;
  |
  }