h1 Список менеджеров
= link_to 'Добавить менеджера', new_manager_path
table.table
  thead
    tr
      th Менеджеры
      th Изменить
      th Удалить

  tbody
    - @managers.each do |manager|
      tr
        td = manager.display_name
        td = link_to 'Изменить', edit_manager_path(manager)
        td = link_to 'Удалить', manager, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Manager', new_manager_path
