nav.navbar.navbar-default
  .container-fluid
    /! Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href="#"  Название проекта
    /! Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a href="/staffs"
            | Соискатели и сотрудники
            span.sr-only (current)
        li
          a href="/hirers"
            | Заказчики
            span.sr-only (current)
        li
          a href="/settlements"
            | Учет рабочего времени и взаиморасчеты
            span.sr-only (current)
        li.dropdown
          a.dropdown-toggle data-toggle="dropdown" href="#"
            | Связанные таблицы и справочники
            span.caret
          ul.dropdown-menu
            li
              a href="/positions"  Классификатор вакансий
            li
              a href="/managers"  Клиентские менеджеры
            li
              a href="/regions"  Классификатор стран
            li
              a href="/spheres"  Сфера деятельности
            li
              a href="/stop_sheet_statuses"  Классификатор стоп-листа




      form.navbar-form.navbar-left
        .form-group
      ul.nav.navbar-nav.navbar-right
        li
          a href="#"
        li.dropdown
          a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
            | Dropdown
            span.caret
          ul.dropdown-menu
            li
              a href="#"  Action
            li
              a href="#"  Another action
            li
              a href="#"  Something else here
            li.divider role="separator"
            li
              a href="#"  Separated link
                /! /.navbar-collapse
                /! /.container-fluid