h1 Список регионов
= link_to 'Новая сфера деятельности', new_sphere_path
table.table
  thead
    tr
      th Регион
      th Изменить
      th Удалить
  tbody
    - @spheres.each do |sphere|
      tr
        td = sphere.display_name
        td = link_to 'Edit', edit_sphere_path(sphere)
        td = link_to 'Destroy', sphere, data: {confirm: 'Are you sure?'}, method: :delete

br

