h1 Список статусов
= link_to 'Новая статус', new_stop_sheet_status_path
table.table
  thead
    tr
      th Статус
      th Изменить
      th Удалить
  tbody
    - @stop_sheet_statuses.each do |stop_sheet_status|
      tr
        td = stop_sheet_status.display_name
        td = link_to 'Edit', edit_stop_sheet_status_path(stop_sheet_status)
        td = link_to 'Destroy', stop_sheet_status, data: {confirm: 'Are you sure?'}, method: :delete

br