.label {
}
.col-md-12 {
  width: 100%;
  margin-top: 10px;
}
.col-md-6 {
  margin-top: 10px;
}

.move-right{
  display: block;
  float: right;
}

.field_with_errors input{
  border: 1px solid red !important;
}