@font-face {
  font-family: 'Material-Design-Icons';
  src: url(font-path('Material-Design-Icons.eot') + "?#iefix") format('embedded-opentype'),
  url(font-path('Material-Design-Icons.woff')) format('woff'),
  url(font-path('Material-Design-Icons.ttf'))  format('truetype'),
  url(font-path('Material-Design-Icons.svg') + "#MyFont") format('svg');
}

//colors
$color_milan_approx: #ffa;

.form-horizontal .control-label {
  text-align: left;
  white-space:normal;
}
