.container
  = form_for @region, html: {class: "edit_post"} do |f|
    - if @region.errors.any?
      #error_explanation
        h2 = "#{pluralize(@region.errors.count, "error")} prohibited this region from being saved:"
        ul
          - @region.errors.full_messages.each do |message|
            li = message

    .row
    br
      .col-md-10
        .form.form-horizontal
          .form-group
            = f.label :display_name, "Регион", class: 'control-label col-sm-2'
            .col-sm-10
              = f.text_field :display_name, class: 'form-control'

        .actions = f.submit class: 'btn btn-primary move-right'