h1 Список регионов
= link_to 'Новый регион', new_sphere_path
table.table
  thead
    tr
      th Регион
      th Изменить
      th Удалить
  tbody
    - @regions.each do |region|
      tr
        td = region.display_name
        td = link_to 'Edit', edit_region_path(region)
        td = link_to 'Destroy', region, data: {confirm: 'Are you sure?'}, method: :delete

br

