= form_for @possible_position do |f|
  - if @possible_position.errors.any?
    #error_explanation
      h2 = "#{pluralize(@possible_position.errors.count, "error")} prohibited this possible_position from being saved:"
      ul
        - @possible_position.errors.full_messages.each do |message|
          li = message
  .col-md-6
    .form.form-horizontal
      .form-group
        = f.label :display_name, "Возможная позиция", class: 'control-label col-sm-2'
        .col-sm-10
          = f.text_field :display_name, class: 'form-control'
    br
  .actions = f.submit
