h1 Listing possible_positions

table.table
  thead
    tr
      th Позиция
      th Изменить
      th Удалить

  tbody
    - @possible_positions.each do |possible_position|
      tr
        td = possible_position.display_name
        td = link_to 'Edit', edit_possible_position_path(possible_position)
        td = link_to 'Destroy', possible_position, data: { confirm: 'Are you sure?' }, method: :delete

br

= link_to 'New Possible position', new_possible_position_path
