<!DOCTYPE html>
<html>
  <head>
    <title>Prostor</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <%= render 'shared/navbar' %>
  <body>
    <%= yield %>
  </body>
</html>
